.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp
.posit/assistant

# Compiled objects and shared libraries
*.o
*.so
*.a

# Package build
*.tar.gz
*.Rcheck/
Rplots.pdf

# macOS
.DS_Store

# LaTeX temporary files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
