useDynLib(fastsae, .registration = TRUE)

export(autoplot)
export(eblup_bhf)
export(eblup_fh)
export(eblup_sfh)
export(eblup_stfh)

S3method(autoplot, fastsae)
S3method(autoplot, list)
S3method(print, fastsae)
S3method(summary, fastsae)
S3method(print, summary.fastsae)
S3method(coef, fastsae)
S3method(fitted, fastsae)
S3method(residuals, fastsae)

importFrom(Rcpp, evalCpp)
importFrom(rlang, .data)
importFrom(stats, rnorm)
importFrom(utils, head)
importFrom(ggplot2, ggplot, aes, geom_point, geom_line, geom_ribbon,
           facet_wrap, labs, theme_minimal, theme, element_text,
           scale_color_brewer, geom_bar, geom_errorbar, geom_hline,
           geom_vline, position_dodge, expand_limits, geom_abline,
           scale_fill_brewer, autoplot)
importFrom(methods, is)
